/** Basic CSS resets for ease of development **/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  /* font-family: map-get($fonts, primary); */
  /* color: map-get($colours, text-primary); */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}
/** End of basic CSS resets for ease of development **/

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
}
